services:
  otel:
    image: grafana/otel-lgtm:latest
    container_name: otel-lgtm
    restart: unless-stopped
    ports:
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
      - "3000:3000" # LGTM UI
    environment:
      - LOG_LEVEL=info
      - GF_AUTH_ANONYMOUS_ENABLED=false
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - ENABLE_LOGS_TEMPO=true
    volumes:
      - ./data/otel/:/data/
      - ./config/tempo/config.yaml:/otel-lgtm/tempo-config.yaml

  service-a:
    image: node:22-alpine
    container_name: ts-service-a
    working_dir: /usr/src/app
    volumes:
      - ./service-a:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3001:3000"
      - "9229:9229"
    environment:
      - NODE_ENV=development
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel:4318
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_SERVICE_NAME=service-a
    depends_on:
      - otel
    command: sh -c "npm install --no-audit --no-fund && node --import ./instrumentation.ts --experimental-strip-types index.ts"

  service-b:
    image: node:24-alpine
    container_name: ts-service-b
    working_dir: /usr/src/app
    volumes:
      - ./service-b:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3002:3000"
    environment:
      - NODE_ENV=development
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel:4318
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_SERVICE_NAME=service-b
    depends_on:
      - otel
    command: sh -c "npm install --no-audit --no-fund && node --experimental-strip-types index.ts"
  db-1:
    container_name: pg_container
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - ./data/pg/:/var/lib/postgresql/18/docker

  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    volumes:
      - ./data/pg-admin:/var/lib/pgadmin
    depends_on:
      - db-1

  redis-1:
    image: redis:latest
    container_name: redis_container
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data
  # redisinsight:
  #   image: redislabs/redisinsight:latest
  #   container_name: redisinsight_container
  #   ports:
  #     - "8001:8001"
  #   restart: always
  #   depends_on:
  #     - redis-1

  # rmq:
  #   image: rabbitmq:3-management
  #   ports:
  #     - 15673:15672
  #     - 5672:5672
